*.iml
.gradle/
.idea/
local.properties
**/build/
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
google-services.json
firebase_config.production.xml
secrets.properties
release-notes.txt
*.apk
*.aab
.DS_Store
*.inspect.ndjson
*_preview.png

__pycache__/
*.pyc
